body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

body {
    color: #000;
    background-color: #f9f9f9;
    font-family:  Arial, Microsoft Yahei, Helvetica Neue, Helvetica, sans-serif;
}

.clearfix::after {
    content: "";
    visibility: hidden;
    display: block;
    clear: both;
}

.back-color {
    background-color: #f9f9f9;
}